<div>
  <h2 id="page-heading" data-cy="DemandeOracleHeading">
    <span jhiTranslate="gatewayApp.oracleDemandeOracle.home.title">Demande Oracles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.oracleDemandeOracle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-oracle"
        [routerLink]="['/demande-oracle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.oracleDemandeOracle.home.createLabel"> Create a new Demande Oracle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeOracles?.length === 0">
    <span jhiTranslate="gatewayApp.oracleDemandeOracle.home.notFound">No demandeOracles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeOracles && demandeOracles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.nomApp">Nom App</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.password">Password</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.action">Action</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.status">Status</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.message">Message</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.dateDemande">Date Demande</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.dateRetour">Date Retour</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.oracleDemandeOracle.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeOracle of demandeOracles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-oracle', demandeOracle.id, 'view']">{{ demandeOracle.id }}</a>
          </td>
          <td>{{ demandeOracle.nomApp }}</td>
          <td>{{ demandeOracle.password }}</td>
          <td>{{ demandeOracle.action }}</td>
          <td>{{ demandeOracle.status }}</td>
          <td>{{ demandeOracle.message }}</td>
          <td>{{ demandeOracle.dateDemande | formatMediumDate }}</td>
          <td>{{ demandeOracle.dateRetour | formatMediumDate }}</td>
          <td>{{ demandeOracle.user }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-oracle', demandeOracle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-oracle', demandeOracle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeOracle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
