<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span jhiTranslate="gatewaySmcApp.smoAppDemande.home.title">Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewaySmcApp.smoAppDemande.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewaySmcApp.smoAppDemande.home.createLabel"> Create a new Demande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
    <span jhiTranslate="gatewaySmcApp.smoAppDemande.home.notFound">No demandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandes && demandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.nomApp">Nom App</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.password">Password</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.action">Action</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.status">Status</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.message">Message</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.dateDemande">Date Demande</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.dateRetour">Date Retour</span></th>
          <th scope="col"><span jhiTranslate="gatewaySmcApp.smoAppDemande.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a>
          </td>
          <td>{{ demande.nomApp }}</td>
          <td>{{ demande.password }}</td>
          <td>{{ demande.action }}</td>
          <td>{{ demande.status }}</td>
          <td>{{ demande.message }}</td>
          <td>{{ demande.dateDemande | formatMediumDate }}</td>
          <td>{{ demande.dateRetour | formatMediumDate }}</td>
          <td>{{ demande.user }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
