<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeWindows">
      <h2 data-cy="demandeWindowsDetailsHeading">
        <span jhiTranslate="gatewayApp.windowsDemandeWindows.detail.title">Demande Windows</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeWindows.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.nomApp">Nom App</span></dt>
        <dd>
          <span>{{ demandeWindows.nomApp }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.password">Password</span></dt>
        <dd>
          <span>{{ demandeWindows.password }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.action">Action</span></dt>
        <dd>
          <span>{{ demandeWindows.action }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.status">Status</span></dt>
        <dd>
          <span>{{ demandeWindows.status }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.message">Message</span></dt>
        <dd>
          <span>{{ demandeWindows.message }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.dateDemande">Date Demande</span></dt>
        <dd>
          <span>{{ demandeWindows.dateDemande | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.dateRetour">Date Retour</span></dt>
        <dd>
          <span>{{ demandeWindows.dateRetour | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.windowsDemandeWindows.user">User</span></dt>
        <dd>
          <span>{{ demandeWindows.user }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande-windows', demandeWindows.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
