<div>
  <h2 id="page-heading" data-cy="DemandeWindowsHeading">
    <span jhiTranslate="gatewayApp.windowsDemandeWindows.home.title">Demande Windows</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.windowsDemandeWindows.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-windows"
        [routerLink]="['/demande-windows/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.windowsDemandeWindows.home.createLabel"> Create a new Demande Windows </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeWindows?.length === 0">
    <span jhiTranslate="gatewayApp.windowsDemandeWindows.home.notFound">No demandeWindows found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeWindows && demandeWindows.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.nomApp">Nom App</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.password">Password</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.action">Action</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.status">Status</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.message">Message</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.dateDemande">Date Demande</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.dateRetour">Date Retour</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.windowsDemandeWindows.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeWindows of demandeWindows; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-windows', demandeWindows.id, 'view']">{{ demandeWindows.id }}</a>
          </td>
          <td>{{ demandeWindows.nomApp }}</td>
          <td>{{ demandeWindows.password }}</td>
          <td>{{ demandeWindows.action }}</td>
          <td>{{ demandeWindows.status }}</td>
          <td>{{ demandeWindows.message }}</td>
          <td>{{ demandeWindows.dateDemande | formatMediumDate }}</td>
          <td>{{ demandeWindows.dateRetour | formatMediumDate }}</td>
          <td>{{ demandeWindows.user }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-windows', demandeWindows.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-windows', demandeWindows.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeWindows)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
